*{
color:blue;
text-align: right;
float: right;
}
.leftBox{
float: left;
}
h1{

	font-color: red
	
}
h3{
	text-align: center;

}
.rightBox{
	float: right;
	
}
.centerBox{
	align-items:center;
}

